    body{
        background-image: url("images/hhh24.jpg");
        background-size: cover;
    }


    h1 {
        color: red;
        font-family: 'impact';
        font-size: 150px;

    }

    h3 {
        color: whitesmoke;
        font-family: 'impact';
        font-size: 80px;
    }

    h4{
        color: red;
        font-family: 'impact';
        font-size: 80px;
    }
